/* app/assets/stylesheets/pages/_home.scss */

/*body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}*/

.banner {
  width: 100%;
  height: calc(100vh - 70px); /* Ajuste la hauteur pour compenser la hauteur de la navbar */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #666;
}

a.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: #0056b3;
}
