<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Ajouter un nouvel équipement</h4>
  </div>
  <div class="row justify-content-center">
    <%= render 'form', computer: @computer %>
  </div>
</div>
