<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4">Modifier un client : <%= @client.name %></h4>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render 'form', client: @client %>
    </div>
  </div>
  <div>
    <%= link_to "Retour au parc client", clients_path, class: "custom-link" %>
  </div>
</div>
