<!-- app/views/pages/home.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Application de Présentation</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
    <h1>Bienvenue sur mon application !</h1>
    <p>Cette page présentera mon application.</p>
    <p>Un lien vers la page de connexion sera disponible ici.</p>
    <p>Avant, il y a beaucoup à faire :)</p>
    <%= link_to 'Connexion', computers_path, class: 'button' %>
  </div>
</body>
</html>
