<!-- app/views/pages/home.html.erb -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('scott-graham.jpg') %>);">
  <div class="container">
    <h1>Bienvenue sur l'application <strong>ParcInventory </strong>!</h1>
    <p>Cette application à pour but de gagné du temps pendants les audits de parc en entreprise.</p>
    <p>il y a beaucoup à faire donc contribué sur Github esbo22 parcinventory :)</p>
    <%= link_to 'Connexion', new_user_session_path, class: 'button' %>
  </div>
</div>
