.notice, .alert {
  position: absolute;
  top: 70px; /* Ajuste cette valeur pour qu'elle corresponde à la hauteur de votre navbar */
  right: 16px;
  width: auto; 
  max-width: 300px; 
  margin-bottom: 1rem;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Supprime les styles personnalisés pour ne pas écraser les couleurs Bootstrap */
.notice {
  /* background-color: #d4edda; */
  /* color: #155724; */
}

.alert {
  /* background-color: #f8d7da; */
  /* color: #721c24; */
}
