.navbar-pi {
  justify-content: space-between;
  background: white;
  height: auto; /* Permet à la navbar de s'adapter à son contenu */
  margin: 0;
  padding: 0;
}

.navbar-pi .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  max-height: 60px; /* Réduire si la hauteur de la navbar est trop grande */
  width: auto;
}

.navbar-logo {
  width: 150px; 
  height: auto;
}

.navbar {
  position: fixed; /* Assure que la navbar reste en haut */
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  height: 70px; /* Ajuster cette hauteur selon votre contenu */
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

body {
  padding-top: 75px; /* Correspond à la hauteur de la navbar */
}
