.navbar-pi {
  justify-content: space-between;
  background: white;
}

.navbar-pi .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

/* Ajuste ces valeurs selon tes besoins */
.navbar-brand img {
  max-height: 100px; /* Ajuste la hauteur maximale selon la hauteur de la navbar */
  max-width: 100px; /* Ajuste la largeur maximale */
  height: auto; /* Assure que l'image garde ses proportions */
  width: auto; /* Assure que l'image garde ses proportions */
}
.navbar-logo {
  width: 150px;  /* Ajustez la largeur du logo */
  height: auto;  /* Maintient le ratio de l'image */
}



.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Assure qu'il est au-dessus des autres éléments */
}

.navbar-nav .nav-item {
  margin-left: 10px; /* Ajuste l'espacement entre les éléments */
}

body {
  padding-top: 56px; /* Ajuster cette valeur en fonction de la hauteur de la navbar */
}

