#equipment-table {
  background-color: #ffffff; /* Fond blanc pour l'ensemble du tableau */
}

#equipment-table th, #equipment-table td {
  background-color: #ffffff !important; /* Fond blanc pour les en-têtes et cellules */
  color: #000; /* Texte noir */
}

#container-table {
  background-color: #ffffff; /* Fond blanc pour l'ensemble */
}

.background-color {
  background-color: #ffffff !important;
}