.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.delete-button:hover {
  background-color: white;
  color: #ff4d4d;
  border: 2px solid #ff4d4d;
}


.look-button {
  background-color: #6eb5FF;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.look-button:hover {
  background-color: white;
  color: #6eb5FF;
  border: 2px solid #6eb5FF;
}

.edit-button {
  background-color: #ffcc99;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.edit-button:hover {
  background-color: white;
  color: #ffcc99;
  border: 2px solid #ffcc99;
}

table .end-life-danger {
  background-color: red;
  color: white; /* Texte blanc pour rendre le texte lisible sur fond rouge */
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

table .end-life-danger:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

table .end-life-success {
  background-color: green;
  color: white; /* Texte blanc pour rendre le texte lisible sur fond vert */
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

table .end-life-success:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
}

table .end-life-warning {
  background-color: #f39c14;
  color: black; /* Texte blanc pour rendre le texte lisible sur fond orange */
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

table .end-life-warning:hover {
  background-color: black;
  color: #f39c14;
  border: 2px solid #f39c14;
}
