/* footers.css */

/* Styles pour le footer */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-top: auto; /* Pousse le footer vers le bas si le contenu est insuffisant */
}

/* Si le parent direct est flexible */
body, html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Permet d'utiliser tout l'espace vertical disponible */
}

.main-content {
  flex: 1; /* Occupe tout l'espace disponible avant le footer */
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
