table .tab-index {
  background-color: #364c59;
  color: white;
}

table .tab-name {
  background-color: green;
  color: white;
}

table .hostname-absent {
  background-color: red; /* Rouge pour hostname absent */
  color: white;
}

table .hostname-present {
  background-color: lightgreen; /* Un vert plus clair pour hostname présent */
  color: black;
}

table .end-life-danger {
  background-color: red; /* Rouge pour les équipements en fin de vie imminente */
  color: white;
}

table .end-life-warning {
  background-color: orange; /* Orange pour les équipements en fin de vie proche */
  color: black;
}

table .end-life-success {
  background-color: green; /* Vert pour les équipements encore loin de la fin de vie */
  color: white;
}

tr {
  cursor: pointer;
}

tr:hover {
  background-color: #f0f0f0;
}

.button-36,
.button-37 {
  cursor: pointer;
}

.button-36 img,
.button-37 img {
  pointer-events: none; /* Ensure the image doesn't capture the click */
}
