<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @client.name %> - Liste des équipements</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid black;
      }
      th, td {
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
